    <section class="proof-bar reveal" aria-label="Key Statistics">
        <div class="item"><span class="num" id="stat1-num">2<em>nd</em></span><span class="lbl" id="stat1-lbl">Edition / Aug 2026</span></div>
        <div class="item"><span class="num" id="stat2-num"><em>500</em></span><span class="lbl" id="stat2-lbl">QE Practitioners</span></div>
        <div class="item"><span class="num" id="stat3-num">8<em>+</em></span><span class="lbl" id="stat3-lbl">Hours of Signal</span></div>
        <div class="item"><span class="num" id="stat4-num"><em>1</em></span><span class="lbl" id="stat4-lbl">Theme. Proof of Value.</span></div>
    </section>
